interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_AUTHORIZATION
      x-fern-language:
      - Python
      x-langfuse-public-key:
      - pk-lf-dummy
      x-langfuse-sdk-name:
      - python
      x-langfuse-sdk-version:
      - 4.12.0
    method: GET
    uri: https://cloud.langfuse.com/api/public/v2/prompts/vcr_test_agent_sparse
  response:
    body:
      string: '{"id":"86921b8a-81d1-4128-90ac-ade8553e3b64","createdAt":"2026-07-09T18:28:39.121Z","updatedAt":"2026-07-09T18:28:39.121Z","projectId":"cmqtu21zc000gad0eh2r1zyde","createdBy":"API","prompt":"","name":"vcr_test_agent_sparse","version":1,"type":"text","isActive":true,"config":{"agent_name":"vcr_test_agent_sparse","agent_card_params":{},"litellm_params":{"model":"gemini/gemini-3.1-flash-lite"},"object_permission":null,"dspy_params":{"optimizer":null,"optimizer_params":null,"state":{"predict":{"traces":[],"train":[],"demos":[{"augmented":true,"messages":"What
        is 2+2?","response":"2 + 2 = 4"}],"signature":{"instructions":"","fields":[{"name":"messages","json_schema_extra":{"__dspy_field_type":"input","prefix":"Messages:","desc":"${messages}"}},{"name":"response","json_schema_extra":{"__dspy_field_type":"output","prefix":"Response:","desc":"${response}"}}]},"lm":null}}},"labels":null},"tags":[],"labels":["production","latest"],"commitMessage":null,"resolutionGraph":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      document-policy:
      - js-profiling
      etag:
      - '"hur54hbj68r7"'
    status:
      code: 200
      message: OK
- request:
    body: '{"name":"vcr_test_agent_sparse","prompt":"","config":{"agent_name":"vcr_test_agent_sparse","agent_card_params":{},"litellm_params":{"model":"gemini/gemini-3.1-flash-lite"},"object_permission":null,"dspy_params":{"optimizer":null,"optimizer_params":null,"state":{"predict":{"traces":[],"train":[],"demos":[{"augmented":true,"messages":"What
      is 2+2?","response":"2 + 2 = 4"}],"signature":{"instructions":"","fields":[{"name":"messages","json_schema_extra":{"__dspy_field_typ[...]
