interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_AUTHORIZATION
      x-fern-language:
      - Python
      x-langfuse-public-key:
      - pk-lf-dummy
      x-langfuse-sdk-name:
      - python
      x-langfuse-sdk-version:
      - 4.12.0
    method: GET
    uri: https://cloud.langfuse.com/api/public/v2/prompts/vcr_test_resp_agent
  response:
    body:
      string: '{"id":"51c6d99d-86cc-4f8c-a047-49434a57ad1c","createdAt":"2026-07-09T15:33:33.094Z","updatedAt":"2026-07-09T15:33:33.094Z","projectId":"cmqtu21zc000gad0eh2r1zyde","createdBy":"API","prompt":"","name":"vcr_test_resp_agent","version":3,"type":"text","isActive":true,"config":{"agent_name":"vcr_test_resp_agent","agent_card_params":{},"litellm_params":{"model":"gemini/gemini-3.1-flash-lite"},"object_permission":null,"dspy_params":{"optimizer":null,"optimizer_params":null,"state":{"predict":{"traces":[],"train":[],"demos":[{"augmented":true,"messages":"What
        is 2+2?","response":"2 + 2 equals 4."}],"signature":{"instructions":"","fields":[{"name":"messages","json_schema_extra":{"__dspy_field_type":"input","prefix":"Messages:","desc":"${messages}"}},{"name":"response","json_schema_extra":{"__dspy_field_type":"output","prefix":"Response:","desc":"${response}"}}]},"lm":null}}},"labels":null},"tags":[],"labels":["production","latest"],"commitMessage":null,"resolutionGraph":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      document-policy:
      - js-profiling
      etag:
      - '"yyso2svjcxr9"'
    status:
      code: 200
      message: OK
version: 1
