interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_AUTHORIZATION
      x-fern-language:
      - Python
      x-langfuse-public-key:
      - pk-lf-dummy
      x-langfuse-sdk-name:
      - python
      x-langfuse-sdk-version:
      - 4.12.0
    method: GET
    uri: https://cloud.langfuse.com/api/public/v2/prompts/vcr_test_agent_async_webhook
  response:
    body:
      string: '{"id":"2930ee02-d87c-4ff1-b090-888ac8b7cb2f","createdAt":"2026-07-09T15:28:33.659Z","updatedAt":"2026-07-09T15:28:33.659Z","projectId":"cmqtu21zc000gad0eh2r1zyde","createdBy":"API","prompt":"","name":"vcr_test_agent_async_webhook","version":1,"type":"text","isActive":true,"config":{"agent_name":"vcr_test_agent_async_webhook","agent_card_params":{},"litellm_params":{"model":"gemini/gemini-3.1-flash-lite"},"object_permission":null,"dspy_params":{"optimizer":null,"optimizer_params":null,"state":{}},"labels":null},"tags":[],"labels":["production","latest"],"commitMessage":null,"resolutionGraph":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      document-policy:
      - js-profiling
      etag:
      - '"m5cpl7bkaygr"'
    status:
      code: 200
      message: OK
- request:
    body: '{"name":"vcr_test_agent_async_webhook","prompt":"","config":{"agent_name":"vcr_test_agent_async_webhook","agent_card_params":{},"litellm_params":{"model":"gemini/gemini-3.1-flash-lite"},"object_permission":null,"dspy_params":{"optimizer":null,"optimizer_params":null,"state":{}},"labels":null},"labels":["production"],"tags":null,"commitMessage":null}'
    headers:
      authorization:
      - DUMMY_AUTHORIZATION
      content-type:
      - application/json
      x-fern-langu[...]
