interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_AUTHORIZATION
      x-fern-language:
      - Python
      x-langfuse-public-key:
      - pk-lf-dummy
      x-langfuse-sdk-name:
      - python
      x-langfuse-sdk-version:
      - 4.12.0
    method: GET
    uri: https://cloud.langfuse.com/api/public/v2/prompts/vcr_test_agent_partial_nested
  response:
    body:
      string: '{"message":"Prompt not found: ''vcr_test_agent_partial_nested'' with
        label ''production''","error":"LangfuseNotFoundError"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      document-policy:
      - js-profiling
      etag:
      - '"f5xfsgdch93b"'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"name":"vcr_test_agent_partial_nested","prompt":"","config":{"agent_name":"vcr_test_agent_partial_nested","agent_card_params":{},"litellm_params":{},"object_permission":null,"dspy_params":{"optimizer":null,"optimizer_params":null,"state":{"predict":{"traces":[],"train":[],"demos":[],"signature":{"instructions":"","fields":[{"name":"input"}]},"lm":null}}},"labels":null},"labels":["production"],"tags":null,"commitMessage":null}'
    headers:
      authorization:
      - DUMMY_AUTHORIZATION
      content-type:
      - application/json
      x-fern-language:
      - Python
      x-langfuse-public-key:
      - pk-lf-dummy
      x-langfuse-sdk-name:
      - python
      x-langfuse-sdk-version:
      - 4.12.0
    method: POST
    uri: https://cloud.langfuse.com/api/public/v2/prompts
  response:
    body:
      string: '{"id":"40b8522c-438e-4ba5-86d5-091a7f0376f8","createdAt":"2026-07-09T18:33:18.242Z","updatedAt":"2026-07-09T18:33:18.242Z","projectId":"cmqtu21zc000gad0eh2r1zyde","createdBy":"API","prompt":"","name":"vcr_test_agent_partial_nested","version":1,"type":"text","isActive":null,"config":{"agent_name":"vcr_test_agent_partial_nested","agent_card_params":{},"litellm_params":{},"object_permission":null,"dspy_params":{"optimizer":null,"optimizer_params":null,"state":{"predict":{"traces":[],"train":[],"demos":[],"signature":{"instructions":"","fields":[{"name":"input"}]},"lm":null}}},"labels":null},"tags":[],"labels":["production","latest"],"commitMessage":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      document-policy:
      - js-profiling
      etag:
      - '"zbr4qqos6rib"'
    status:
      code: 201
      message: Created
version: 1
