interactions:
- request:
    body: '{"name":"e2e-test-gemini-agent","prompt":"Given the fields `messages`,
      produce the fields `answer`.","config":{"agent_name":"e2e-test-gemini-agent","agent_card_params":{},"litellm_params":{"model":"gemini/gemini-3.1-flash-lite","temperature":0.0},"object_permission":null,"dspy_params":{"optimizer":null,"state":{"predict":{"traces":[],"train":[],"demos":[],"signature":{"instructions":"Given
      the fields `messages`, produce the fields `answer`.","fields":[{"prefix":"Messages:","description":"${messages}"},{"prefix":"Answer:","description":"${answer}"}]},"lm":null}}},"labels":null},"labels":["production"],"tags":null,"commitMessage":null}'
    headers:
      authorization:
      - DUMMY_AUTHORIZATION
      content-type:
      - application/json
      x-fern-language:
      - Python
      x-langfuse-public-key:
      - pk-lf-dummy
      x-langfuse-sdk-name:
      - python
      x-langfuse-sdk-version:
      - 4.12.0
    method: POST
    uri: https://cloud.langfuse.com/api/public/v2/prompts
  response:
    body:
      string: '{"message":"Invalid credentials. Confirm that you''ve configured the
        correct host.","error":"UnauthorizedError"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      document-policy:
      - js-profiling
      etag:
      - '"t5cz9gcsax33"'
    status:
      code: 401
      message: Unauthorized
version: 1
